<!-- jQuery -->
<script src="{{ "/assets/js/jquery.min.js" | relative_url }}"></script>
<!-- jQuery Easing -->
<script src="{{ "/assets/js/jquery.easing.1.3.js" | relative_url }}"></script>
<!-- Bootstrap -->
<script src="{{ "/assets/js/bootstrap.min.js" | relative_url }}"></script>
<!-- Waypoints -->
<script src="{{ "/assets/js/jquery.waypoints.min.js" | relative_url }}"></script>
<!-- Flexslider -->
<script src="{{ "/assets/js/jquery.flexslider-min.js" | relative_url }}"></script>
<!-- Owl carousel -->
<script src="{{ "/assets/js/owl.carousel.min.js" | relative_url }}"></script>
<!-- Counters -->
<script src="{{ "/assets/js/jquery.countTo.js" | relative_url }}"></script>

<!-- MAIN JS -->
<script src="{{ "/assets/js/main.js" | relative_url }}"></script>
