<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{% if page.title %}{{ page.title }}{% else %}Gabriel Descoteaux{% endif %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}Portfolio webpage of Gabriel Descoteaux{% endif %}">
<meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}portfolio,website,personal website,github,projects,computer science and engineering{% endif %}">
<meta name="author" content="Gabriel Descoteaux">

<!--quora icon-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<link rel="icon" type="image/png" href="{{ "/logo.png" | relative_url }}">

<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" rel="stylesheet">

<!-- Animate.css -->
<link rel="stylesheet" href="{{ "/assets/css/animate.css" | relative_url }}">
<!-- Icomoon Icon Fonts-->
<link rel="stylesheet" href="{{ "/assets/css/icomoon.css" | relative_url }}">
<!-- Bootstrap  -->
<link rel="stylesheet" href="{{ "/assets/css/bootstrap.css" | relative_url }}">
<!-- Flexslider  -->
<link rel="stylesheet" href="{{ "/assets/css/flexslider.css" | relative_url }}">
<!-- Flaticons  -->
<link rel="stylesheet" href="{{ "/assets/fonts/flaticon/font/flaticon.css" | relative_url }}">
<!-- Owl Carousel -->
<link rel="stylesheet" href="{{ "/assets/css/owl.carousel.min.css" | relative_url }}">
<link rel="stylesheet" href="{{ "/assets/css/owl.theme.default.min.css" | relative_url }}">
<!-- Theme style  -->
<link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
<!-- Modernizr JS -->
<script src="{{ "/assets/js/modernizr-2.6.2.min.js" | relative_url }}"></script>

